@tailwind base;

html,
body,
#routify-app {
	@apply h-full;
}

body {
	font-family: "Roboto";
}

input[type="checkbox"] {
	@apply align-middle;
}

summary {
	@apply cursor-pointer;
}

@tailwind components;

.alert {
	@apply p-4 bg-red-200 text-red-900;
}

.btn {
	@apply bg-white border px-2 py-1 rounded;
}

.btn:hover {
	@apply bg-gray-100;
}

.btn[disabled] {
	@apply cursor-not-allowed;
}

.btn-primary {
	@apply bg-africartes-blue font-bold text-gray-100;
}

.btn-primary:hover {
	@apply bg-blue-800;
}

.btn-link:hover {
	@apply underline;
}

.border-left-toggle {
	@apply border-l-4 border-transparent pl-2;
}

.border-left-toggle:hover {
	@apply border-africartes-red  text-white;
}

.border-left-toggle.selected {
	@apply border-africartes-red;
}

.border-left-toggle.selected:hover {
	@apply border-red-500;
}

.card {
	@apply border-2 rounded shadow-lg bg-white px-4 py-2;
}

.link {
	@apply text-blue-600 underline;
}

@tailwind utilities;

html .noUi-horizontal {
	height: 14px;
}

html .noUi-horizontal .noUi-handle {
	width: 27px;
	height: 20px;
	right: -14px;
	top: -4px;
}

html .noUi-handle::after,
html .noUi-handle::before {
	left: 11px;
	top: 2px;
}

html .noUi-handle::before {
	left: 14px;
}

.selectContainer {
	padding: 0 8px !important;
	height: 32px !important;
}
